@page
@model RazorModel
@{
    ViewData["Title"] = "Test Page";
}
<h1>Lab 10</h1>
<hr />
<div class = "container">
    <div class = "row">
        <div class = "col-4 border-primary">
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class = "text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <space asp-validation-for="LastName" class="text-danger"></space>
                </div>
                <div class="form-group">
                    <label asp-for="CreditCard" class="control-label"></label>
                    <input asp-for="CreditCard" class="form-control" />
                    <space asp-validation-for="CreditCard" class="text-danger"></space>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <input type="reset" value="Clear" />
                </div>
            </form>
        </div>
        <div class = "col-8 bored-secondary">
            <img src = "https://cimg.tvgcdn.net/i/2018/08/15/445892f8-bc28-4056-9bbf-cf4a1595ec5c/a42e1ddd08ee240d59037ffadf1d3dbd/180815-disenchantment.jpg" class = "img-thumbnail">

        </div>
    </div>
    <div class = "row">
        <div class = "col-3 border-danger">
          <h2>Column 1</h2>
          <p>@Model.FirstName 
              @Model.LastName
              @Model.CreditCard </p>
        </div>
        <div class = "col-5 border-dark">
            <h2>Column 2</h2>
        </div>
        <div class = "col-4 border-info">
            <h2>Column 3</h2>

        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}